@import "global";

.MobNavContainer{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  background-color: $background;
  & > div{
      width: 20vw;
      height: 100%;
      color: $greyX;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      // align-items: center;
      @include bodyText;
      font-family: $serrif;
      text-align: center;
      h4{
          cursor: pointer;
          padding: 10px 10px;
          width: fit-content;
          margin-left: auto;
          margin-right: auto;
          color: $greyX;
      }
      a{
          height: 100%;
          img{
              object-fit: contain;
              margin-top: auto;
              max-width: 100%;
              height: 100%;
              margin-right: 0;
          }
      }
  }
  .aboutText{ //inherits flex
      position: absolute;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
      background-color: rgba(0,0,0,.9);
      z-index: 50;
      pointer-events: none;
      opacity: 0;
      & > div{
          @include bodyText;
          font-size: $bodyText * 3.7;
          color: $greyX;
          width: 50vw;
          margin-left: auto;
          margin-right: auto;
      }
  }

  .exitAbout {
    position: absolute;
    top: 5vh;
    left: 85vw;
    font-size: 3.5vh;
    font-family: $serrif;
    color: $goldX;
    pointer-events: all;
    z-index: 5;
  }

  .about {
    font-size: 4.5vw;
    color: $greyX;
  }

  .vol {
    font-size: 4.5vw;
    color: $greyX;
  }
    .volumeSelectionOverlay{
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        z-index: 100;
        pointer-events: none;
        ul{
            background-color: $background;
            width: 100%;
            height: 100%;
            position: absolute;
            transform: translateX(-100%);
            color: rgba(255,255,255,.9);
            &>div{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                width: 100%;
                height: 100%;
                padding-top: 15vh;
                
            }
            .tableOfContents{
                line-height: 110%;
                text-align: left;
                font-size: 15vw;
                margin-bottom: 5vh;
            }
            li{
                width: 100%;
                padding: 0vh 4vw;
                margin: 1vh 0;
                font-size: 6vw;
                opacity: 0;
                transform: translateX(-5px);
                font-size: 10vw;
                a{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    padding-left: 1vw;
                    &.active{  
                        span{
                            &:first-of-type{
                                text-decoration: underline;
                            }
                        }
                    }
                }
                span{
                    width: 67%;
                    text-align: left;
                    margin-bottom: 2vh;
                    &:first-of-type{
                        width: 33%;
                    }
                }
            }
            .swipeOut{
                position: absolute;
                bottom: 10vh;
                right: 5vw;
                width: fit-content;
                list-style: none;
                p{
                    @include bodyText;
                    font-size: 7vw;
                    font-style: italic;
                    opacity: .7;
                }
                img{
                    max-height: 7.4vw;
                }
            }
        }
    }
}