@import "global";

.sideContentContainer{
    height: 100%;
    width: 100%;
    position: relative;
    //DO NOT SET A HEIGHT ATTRIBUTE!
    .navSection{
        position: absolute;
        top: 0;
        left: 0;
        background-color: $background;
        pointer-events: none;
        z-index: 4;
        width: 95%;
        h1{
            font-size: $giantText;
            font-family: $sans;
            color: $goldX;
            width: 80%;
            height: fit-content;
        }
        .volumes{
            width: fit-content;
            ul{
                display: flex;
                justify-content: flex-start;
                padding: 3vh 0 1vh;
                flex-wrap: wrap; //can fit 5 vols per row
                pointer-events: all;
                flex-direction: row-reverse;
                width: fit-content;
                .listContain{
                    height: auto;
                }
                li{
                    font-size: $bodyText;
                    font-family: $serrif;
                    color: $greyX;
                    list-style: none;
                    margin-right: 2vw;
                    .link{
                        box-sizing: border-box;
                        padding: .2vw;
                        transition: color .1s;
                        &:hover{
                            color: white;
                        }
                    }
                }
                .active{
                    color: white;
                    position: relative;
                    &::after{
                        content: " ";
                        height: .3vw;
                        width: .3vw;
                        background-color: white;
                        position: absolute;
                        border-radius: 5px;
                        top: calc(50% - .15vw);
                        left: -.4vw;
                        pointer-events: none;
                    }
                }
            }
            .title{
                height: 0vw;
                opacity: 0;
                overflow: hidden;
                @include bodyText;
                box-sizing: content-box;
                display: flex;
                flex-direction: column;
                justify-content: center;
                font-style: italic;
            }
            .border{
                width: 19.5vw;
                margin-top: auto;
                height: 2px;
                border-radius: 1px;
                background-color: $goldX;
            }
        }
    }
    .unclickable ul{
        pointer-events: none !important;
    }
}