@import "global";

.desktop{
    height: 100vh;
    width: 100vw;
    background-color: $background;
    position: relative;
    display: grid;
    grid-template-rows: 10% 80% 10%;
    grid-template-columns: 30% 70%;
    grid-template-areas: 
        "topNav topNav"
        "sideContent video"
        "footer footer";
    box-sizing: border-box;
    padding: 2vh 2vw;
    &> div{
//        border: solid red 1px;
    }
    .topNav{
        grid-area: topNav;
        // background-color: red;
    }
    .sideContent{
        grid-area: sideContent;
        padding-left: 5%;
        // background-color: red;
    }
    .video{
        grid-area: video;
        padding-right: 2%;
    }
    .footer{
        grid-area: footer;
    }
    @media (max-width: $mobile-width) {
      display: none;
    }
}

.mobile {
  height: auto;
  width: 100vw;
  background-color: black;
  position: relative;


  .MobNav {
    top: 0%;
    left: 0%;
    position: fixed;
    width: 100%;
    height: 10vh;
    background-color: $background;
    z-index: 1;
  }

  .mVideo {
    top: 0;
    height: 100vh;
    background-color: black;
    position: relative;
  }

  .MobArticle {
    margin-top: 3vh;
    position: relative;
    background-color: $background;
    width: 100%;
    height: auto;
  }

  .MobSubmission {
    margin-top: 3vh;
    position: relative;
    background-color: $background;
    width: 100%;
    height: auto;
  }



  @media (min-width: $mobile-width) {
    display: none;
  }
}