@import "global";

.videoContainer{
    height: 100%;
    width: 100%;
    video{
        object-fit: cover;
        height: 100%;
        width: 100%;
        &:focus{
            outline: none !important;
        }
    }

    @media (max-width: $mobile-width) {
      video{
        object-fit: contain;
        height: 100%;
        width: 100%;
        &:focus{
            outline: none !important;
        }
    }
    }
    .desktop{
        @include mobile{
            display: none;
        }
    }
    .mobile{
        display: none;
        @include mobile{
            display: block;
        }
    }
}