.videoContainer{
    height: 100%;
    width: 100%;
    video{
        object-fit: cover;
        height: 100%;
        width: 100%;
        &:focus{
            outline: none !important;
        }
    }
}